:root {
  --branding-color: #72a2ac;
  --background-primary: #007a79;
  --heading-color: #cb9573;
  --highlights-color: #4d2a16;
  --button-color: #bf3f27;
  --default-font-family: "Nunito", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--branding-color);
}
.hero,
.about {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/e0/32/8b/e0328bbce1e96b6cf147000dca35d4a9.jpg");
  background-size: cover;
  padding: 60px 20px;
  border: 2px solid var(--highlights-color);
}
h1 {
  color: var(--heading-color);
  font-weight: bolder;
  font-size: 72px;
}
h2 {
  text-align: center;
  color: var(--highlights-color);
  margin-top: 10px;
}
.sub-heading {
  color: #c7cedf;
  font-weight: 500;
  font-size: 26px;
  padding: 15px;
}

img {
  width: 350px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid var(--highlights-color);
  box-shadow: 0px 8px 8px 0px rgba(37, 39, 89, 0.08);
  margin-top: 10px;
  margin-bottom: 10px;
}
.container {
  text-align: center;
}
p {
  color: var(--highlights-color);
  font-size: 20px;
  font-weight: bolder;
  line-height: 2;
  text-align: center;
}
.about-container {
  margin-top: 20px;
}
.btn-branding {
  background: var(--button-color);
  border: 1px solid var(--highlights-color);
  color: white;
}
@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  .sub-heading {
    display: none;
  }
  img {
    width: 150px;
  }
  .recipe {
    font-size: 18px;
  }
}
